/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}
.container {
  margin: 0 auto;
}
* {
  font-size: 62.5%;
  box-sizing: border-box;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
}
.nav .user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.nav .user :hover {
  opacity: 100%;
  transform: scale(1.025);
  transition: 1s;
  background-color: #e6ffe6;
}
.nav .logo {
  display: flex;
  justify-content: center;
}
.nav .logo img {
  opacity: 0.75;
}
.nav .logo :hover {
  opacity: 1;
  transform: scale(1.025);
  transition: 1s;
  background-color: #e6ffe6;
}
.nav .clear {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .clear :hover {
  opacity: 1;
  transform: scale(1.025);
  transition: 1s;
  background-color: #e6ffe6;
}
.nav .clear img {
  height: 64px;
  width: 64px;
  opacity: 0.6;
}
.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20rem;
  margin: 5% 0;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  border-radius: 5px;
  padding: 5% 1.5%;
}
.content-row .deck-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: 5px solid grey;
  border-radius: 10px;
}
.content-row .deck-menu h2 {
  border-radius: 0;
}
.content-row .deck-menu p {
  border-radius: 0;
}
.content-row .deck-drop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 5px dotted grey;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.content-row .deck-select {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: 5px solid grey;
  border-radius: 10px;
}
.content-row .deck-select .header {
  border-radius: 0;
  font-size: 1.6rem;
  padding-top: 15px;
}
.content-row .deck-select .decks {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-row .deck-select .decks img {
  height: 64px;
  width: 64px;
}
.content-row .deck-select .decks img img:hover {
  transform: translatey(10px);
  transition: 1s;
}

